body {
    background-color: #232323;
    margin: 0;
    font-family: "Avenir";
}

h1 {
    color: white;
    text-align: center;
    background-color: steelblue;
    text-transform: uppercase;
    padding: 20px;
}

p {
    text-align: center;
    background-color: white;
}

.correctColor {
    font-size: 4rem;
    font-weight: bolder;
}

.square {
    width: 30%;
    margin: 1.66%;
    /* background-color: aliceblue; */
    float: left;
    padding: 100px;
    border-radius: 20px;
    transition: background-color 0.6s;
}

.resultDisplay {
    display: inline-block;
    width: 20%;
    color: steelblue;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.btn {
    color: steelblue;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 1.2rem;
    transition: all 0.3s;
}

.selected {
    color: white;
    background-color: steelblue;
}

.btn:hover {
    color: white;
    background-color: steelblue;
}